body {
	font-size: 16px;
	line-height: 1.2em;
}

.header__logo {
	height: 12vw;
	min-height: 72px;
	max-height: 100px;
}

.header__title {
	font-size: 7.5vw;
}

.description h2 {
	font-size: 1.3em;
}

.description p {
	margin-bottom: 0;
}

.scores__table {
	width: 100%;
	max-width: 100%;
}

.recent-news {
	padding-bottom: 0;
	width: 100%;
}

.snippet {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.snippet__title {
	margin-bottom: 1em;
	width: 100%;
	order: 1;
}
	
.snippet__thumbnail {
	width: 25%;
	order: 2;
}

.snippet__thumbnail img {
	width: 100%;
}

.snippet p {
	text-align: left;
	margin-top: 0;
	width: 70%;
	order: 3;
	max-height: 5em;
}

/* styles for '...' */ 
.snippet p {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.snippet p:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.snippet p:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

@media screen and (max-width: 460px) {
	.description h2 {
		font-size: 1em;
	}
	
	.description p {
		font-size: 0.9em;
	}
	
	.scores__table tr {
		font-size: 3.9vw;
	}

	.scores__location {
		display: none;
	}

	.snippet__thumbnail {
		display: none;
	}

	.snippet p {
		width: 95%;
	}
}

@media screen and (max-width: 600px) {
	.scores__table {
		font-size: 2.9vw;
	}
}

@media screen and (min-width: 601px) {
	.description h2 {
		font-size: 1em;
	}

	.weather__today__temp {
		font-size: 2.5em;
	}

	.weather__today__deg {
		font-size: 1.7em;
	}
}

@media screen and (min-width: 750px) {
	.header__title {
		font-size: 60px;
	}
}